pandas
dotenv
python-dotenv

#====================================
# Gen AI module
#====================================
langchain==1.2.0
langchain-core
langchain-ollama==1.0.1
langchain-community==0.4.1
langchain-classic
ChatOllama==0.2.13
langchain_text_splitters==1.1.0
langchain_google_genai
pypdf==6.5.0

#====================================
#Vector stores
#====================================
#chromadb==1.4.0
#faiss-cpu
langchain_chroma==1.1.0

#====================================
#Embeddings
#====================================
langchain_huggingface
sentence-transformers
#transformers

#====================================
#API/UI
#====================================
fastapi==0.128.0
uvicorn
python-multipart==0.0.21

#====================================
#Testing
#====================================
pytest
